@import url("https://fonts.googleapis.com/css2?family=Fleur+De+Leah&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --grey: #605D5C;
  --white: #f3f3e2;
}

body {
  background-color: var(--white);
  padding-top: 1rem;
}

h1, h2, p,
#my-element,
#my-element2,
#my-element3 {
  text-align: center;
}

h1,
#my-element,
#my-element2,
#my-element3 {
  font-family: "Fleur De Leah", cursive;
  color: var(--grey);
}
h1 {
  font-size: 3rem;
  font-weight: 300;
}
h2, p {
  font-family: "Montserrat", sans-serif;
}
h2 {
  font-size: 1.25rem;
  font-weight: 400;
}

button h2 {
  max-width: 10ch;
}
button {
  border: none;
  outline: none;
  padding: 0.25rem;
  color: var(--grey);
  background-color: white;
  border-radius: 6px;
  transition: background-color 0.5s ease-in-out;
  cursor: pointer;
}
button:hover {
  background-color: color-mix(in srgb, white 66%, transparent);
}

main {
  background-image: url("https://i.pinimg.com/564x/32/f4/7a/32f47ae87c7c35085fdc349ed2231d99.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 75vh;
  max-width: 564px; /* backround image width */
  margin: 0 auto;
  margin-top: 1rem;
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#my-element,
#my-element2,
#my-element3 {
  margin-top: 0.5rem;
  font-size: 2rem;
  color: var(--grey);
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

footer {
  margin-top: 1rem
}

footer a {
  text-decoration: none;
  color: var(--grey);
}
