@import url("https://fonts.googleapis.com/css2?family=Fleur+De+Leah&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --grey: #605D5C;
  --white: #f3f3e2;
}

body {
  background-color: var(--white);
  padding-top: 1rem;
}

h1, h2, p,
#my-element,
#my-element2,
#my-element3 {
  text-align: center;
}

h1,
#my-element,
#my-element2,
#my-element3 {
  font-family: "Fleur De Leah", cursive;
  color: var(--grey);
}
h1 {
  font-size: 3rem;
  font-weight: 300;
}
h2, p {
  font-family: "Montserrat", sans-serif;
}
h2 {
  font-size: 1.25rem;
  font-weight: 400;
}

button h2 {
  max-width: 10ch;
}
button {
  border: none;
  outline: none;
  padding: 0.25rem;
  color: var(--grey);
  background-color: white;
  border-radius: 6px;
  transition: background-color 0.5s ease-in-out;
  cursor: pointer;
}
button:hover {
  background-color: color-mix(in srgb, white 66%, transparent);
}

